  <div class="container">
    <h1>Sharp Coding Challenge</h1>
    <p class="lead">
      Please refer to the README.md file for instructions.
    </p>

    <p>The starting point for your solution is provided below:</p>


    <!-- Your family practice doctor list -->
    <h2>Family Practice Doctors</h2>
    <div class="card-columns">
      <ng-template ngFor let-doctor [ngForOf]="familyPracticeDoctors">
        <div class="card">
            <img src="https://avatars.dicebear.com/v2/{{doctor.gender}}/{{doctor.name || 'noname'}}.svg" alt="Doctor's Picture">
            <div>
              <h5>Dr. {{doctor.name}}</h5>
              <h6>{{doctor.specialty}}</h6>
              <a href="#">Reviews <span class="badge badge-primary">{{doctor.reviewCount}}</span></a>
            </div>
          </div>
        </ng-template>
      </div>
      <!-- Your pediatric doctor list -->
      <h2>Pediatrics Doctors</h2>
      <div class="card-columns">
        <ng-template ngFor let-doctor [ngForOf]="pediatricDoctors">
          <div class="card">
              <img src="https://avatars.dicebear.com/v2/{{doctor.gender}}/{{doctor.name || 'noname'}}.svg" alt="Doctor's Picture">
              <div>
                <h5>Dr. {{doctor.name}}</h5>
                <h6>{{doctor.specialty}}</h6>
                <a href="#">Reviews <span class="badge badge-primary">{{doctor.reviewCount}}</span></a>
              </div>
            </div>
          </ng-template>
        </div>

      </div>