h1 {
	margin: 20px 0;
}

.card-columns .card:first-child {
  margin-bottom: 0.70rem;
  width: 100%;
}

/*Device widths greater than 991px: display 3 doctors across*/
@media only screen and (min-width: 992px){
	.card-columns {
		column-count: 3 !important;
		-moz-column-count: 3 !important; 	 
		-webkit-column-count: 3 !important; 
		orphans: 1 !important;
		widows: 1!important;
		break-inside: avoid-column !important;
	}


}

/*Device widths between 576px and 991px: display 2 doctors across*/
@media only screen and (min-width: 576px) and (max-width: 991px) {
	.card-columns {
		column-count: 2 !important;
		-moz-column-count: 2 !important; 	 
		-webkit-column-count: 2 !important; 
		orphans: 1 !important;
		widows: 1 !important;
	}
}


/*Device widths less than 575px show stacked doctors*/
@media only screen and (max-width: 574px) {
	.card-columns {
		column-count: 1 !important;
		-moz-column-count: 1 !important; 
		-webkit-column-count: 1 !important; 
		orphans: 1 !important;
		widows: 1 !important;
	}
}